defaults/blinker.flow
[{"id":"6f233aa1.80ed54","type":"ibmiot in","z":"48c41610.d8fd38","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"WAResultIn","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":143,"y":160,"wires":[["6fbeede5.78b1bc"]]},{"id":"acd299ee.39196","type":"debug","z":"48c41610.d8fd38","name":"WAResponse","active":true,"console":"true","complete":"payload","x":387,"y":100,"wires":[]},{"id":"abbedf6f.2acf98","type":"ibmiot out","z":"48c41610.d8fd38","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"IButton","deviceType":"InternetButton","eventCommandType":"blinker","format":"json","data":"1","qos":0,"name":"Send lightUp cmd","service":"registered","x":872,"y":225,"wires":[]},{"id":"138e10f7.c84e5f","type":"function","z":"48c41610.d8fd38","name":"send Right","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"ON\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" :  \"right\",\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":569,"y":207,"wires":[["abbedf6f.2acf98","9c6346ab.139c68"]]},{"id":"9c6346ab.139c68","type":"debug","z":"48c41610.d8fd38","name":"SendMsgOut","active":true,"console":"true","complete":"payload","x":859,"y":161,"wires":[]},{"id":"1fa46b5d.cceb5d","type":"function","z":"48c41610.d8fd38","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n    \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":588,"y":155,"wires":[["1d104853.5ac258"]]},{"id":"6fbeede5.78b1bc","type":"function","z":"48c41610.d8fd38","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":159,"wires":[["1fa46b5d.cceb5d","acd299ee.39196"]]},{"id":"23d170b.77b459","type":"inject","z":"48c41610.d8fd38","name":"left","topic":"","payload":"left","payloadType":"str","repeat":"","crontab":"","once":false,"x":397,"y":316,"wires":[["77fcc639.9481f8"]]},{"id":"9e6abc74.10af5","type":"inject","z":"48c41610.d8fd38","name":"right","topic":"","payload":"right","payloadType":"str","repeat":"","crontab":"","once":false,"x":397,"y":281,"wires":[["138e10f7.c84e5f"]]},{"id":"21aa4e15.c7ce82","type":"function","z":"48c41610.d8fd38","name":"send CMD OFF","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"OFF\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" : \"left\" ,\n    \"intent\" : msg.payload.intent,\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":577,"y":282,"wires":[["abbedf6f.2acf98","9c6346ab.139c68"]]},{"id":"ce4e0530.115208","type":"comment","z":"48c41610.d8fd38","name":"Send to Internet button","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":157,"y":94,"wires":[]},{"id":"9625a1a8.1eedc8","type":"inject","z":"48c41610.d8fd38","name":"OFF","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":397,"y":351,"wires":[["21aa4e15.c7ce82"]]},{"id":"1d104853.5ac258","type":"switch","z":"48c41610.d8fd38","name":"What","property":"payload.response","propertyType":"msg","rules":[{"t":"cont","v":"blinker right","vt":"str"},{"t":"cont","v":"left blinker on","vt":"str"},{"t":"cont","v":" off the Blinker","vt":"str"},{"t":"cont","v":"blinker left on","vt":"str"},{"t":"cont","v":"blinker right on","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":273,"y":235,"wires":[["138e10f7.c84e5f"],["77fcc639.9481f8"],["21aa4e15.c7ce82"],["77fcc639.9481f8"],["138e10f7.c84e5f"],[]]},{"id":"77fcc639.9481f8","type":"function","z":"48c41610.d8fd38","name":"send LEFT ","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"ON\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" :  \"left\",\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":569,"y":244,"wires":[["abbedf6f.2acf98","9c6346ab.139c68"]]},{"id":"25108fdf.a223c","type":"function","z":"48c41610.d8fd38","name":"send Manu Updates","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"Blinker was turned off manually.\";\nvar status = \"OFF\";\nvar dir = \"\";\n\nif (msg.payload.d.cmd == \"blinker_right_on\")\n{\ntext= \"Blinker right was turned on manually.\";\nstatus = \"ON\";\ndir = \"right\";\n}\n\nif (msg.payload.d.cmd == \"blinker_right_off\")\ntext= \"Blinker right was turned off manually.\";\n\nif (msg.payload.d.cmd == \"blinker_left_on\")\n{\ntext= \"Blinker left was turned on manually.\";\nstatus = \"ON\";\ndir = \"left\";\n}\n\nif (msg.payload.d.cmd == \"blinker_left_off\")\ntext= \"Blinker left was turned off manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\": status, //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"dir\" : dir,\n    \"text\" : text,\n    \"ts\" : now,\n    }};\n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":672,"y":494,"wires":[["50f7fdb3.0d19a4","f84843db.b3f0b"]]},{"id":"4827f64e.6a0ba8","type":"inject","z":"48c41610.d8fd38","name":"OFF","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":406,"y":416,"wires":[["62a953e2.984cc4"]]},{"id":"50f7fdb3.0d19a4","type":"websocket out","z":"48c41610.d8fd38","name":"","server":"be05edc3.b867f8","client":"","x":886,"y":495,"wires":[]},{"id":"61ffdcd1.ab7314","type":"ibmiot in","z":"48c41610.d8fd38","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"GGParticle1","applicationId":"","deviceType":"InternetButton","eventType":"status","commandType":"","format":"json","name":"ManualChanges","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":416,"y":492,"wires":[["f84843db.b3f0b","25108fdf.a223c"]]},{"id":"f84843db.b3f0b","type":"debug","z":"48c41610.d8fd38","name":"ManualUpdates","active":true,"console":"true","complete":"payload","x":888,"y":430,"wires":[]},{"id":"3dffe376.14cc34","type":"comment","z":"48c41610.d8fd38","name":"InternetButton send updates","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":188,"y":396,"wires":[]},{"id":"62a953e2.984cc4","type":"function","z":"48c41610.d8fd38","name":"send OFF Update","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"Blinker was turned off manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\": \"OFF\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"dir\" : \"\",\n    \"text\" : text,\n    \"ts\" : now,\n    }};\n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":659,"y":415,"wires":[["f84843db.b3f0b","50f7fdb3.0d19a4"]]},{"id":"be05edc3.b867f8","type":"websocket-listener","z":"48c41610.d8fd38","path":"/blinkupdate","wholemsg":"false"}]
