defaults/flow.json
[{"id":"d56d3a4d.48b52","type":"ibmiot in","z":"8a6ac27f.eda048","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"WAResultIn","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":91,"y":627,"wires":[["88f54c67.f694e"]]},{"id":"6a7f02df.dd89c4","type":"debug","z":"8a6ac27f.eda048","name":"WAResponse","active":true,"console":"true","complete":"payload","x":335,"y":567,"wires":[]},{"id":"da84617c.b5e348","type":"ibmiot out","z":"8a6ac27f.eda048","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"IButton","deviceType":"InternetButton","eventCommandType":"blinker","format":"json","data":"1","qos":0,"name":"Send lightUp cmd","service":"registered","x":820,"y":692,"wires":[]},{"id":"1fc58785.7f7558","type":"function","z":"8a6ac27f.eda048","name":"send Right","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"ON\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" :  \"right\",\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":517,"y":674,"wires":[["da84617c.b5e348","24afb2bf.c71ba6"]]},{"id":"24afb2bf.c71ba6","type":"debug","z":"8a6ac27f.eda048","name":"SendMsgOut","active":true,"console":"true","complete":"payload","x":807,"y":628,"wires":[]},{"id":"e385dd4e.22c71","type":"function","z":"8a6ac27f.eda048","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n    \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":622,"wires":[["b1692997.ef115"]]},{"id":"88f54c67.f694e","type":"function","z":"8a6ac27f.eda048","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":626,"wires":[["e385dd4e.22c71","6a7f02df.dd89c4"]]},{"id":"f126bd9b.a2def8","type":"inject","z":"8a6ac27f.eda048","name":"left","topic":"","payload":"left","payloadType":"str","repeat":"","crontab":"","once":false,"x":345,"y":783,"wires":[["241c7800.e3c718"]]},{"id":"1985c172.ce79bf","type":"inject","z":"8a6ac27f.eda048","name":"right","topic":"","payload":"right","payloadType":"str","repeat":"","crontab":"","once":false,"x":345,"y":748,"wires":[["1fc58785.7f7558"]]},{"id":"42ebdd5f.b67e54","type":"function","z":"8a6ac27f.eda048","name":"send CMD OFF","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"OFF\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" : \"left\" ,\n    \"intent\" : msg.payload.intent,\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":525,"y":749,"wires":[["da84617c.b5e348","24afb2bf.c71ba6"]]},{"id":"47b221cd.2b9ae8","type":"comment","z":"8a6ac27f.eda048","name":"Send to Internet button","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":105,"y":561,"wires":[]},{"id":"e18ed792.4f062","type":"inject","z":"8a6ac27f.eda048","name":"OFF","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":345,"y":818,"wires":[["42ebdd5f.b67e54"]]},{"id":"b1692997.ef115","type":"switch","z":"8a6ac27f.eda048","name":"What","property":"payload.response","propertyType":"msg","rules":[{"t":"cont","v":"blinker right","vt":"str"},{"t":"cont","v":"left blinker on","vt":"str"},{"t":"cont","v":" off the Blinker","vt":"str"},{"t":"cont","v":"blinker left on","vt":"str"},{"t":"cont","v":"blinker right on","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":229,"y":684,"wires":[["1fc58785.7f7558"],["241c7800.e3c718"],["42ebdd5f.b67e54"],["241c7800.e3c718"],["1fc58785.7f7558"],[]]},{"id":"241c7800.e3c718","type":"function","z":"8a6ac27f.eda048","name":"send LEFT ","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"ON\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" :  \"left\",\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":517,"y":711,"wires":[["da84617c.b5e348","24afb2bf.c71ba6"]]},{"id":"f4d3d6b3.6e609","type":"function","z":"8a6ac27f.eda048","name":"send Manu Updates","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"Blinker was turned off manually.\";\nvar status = \"OFF\";\nvar dir = \"\";\n\nif (msg.payload.d.cmd == \"blinker_right_on\")\n{\ntext= \"Blinker right was turned on manually.\";\nstatus = \"ON\";\ndir = \"right\";\n}\n\nif (msg.payload.d.cmd == \"blinker_right_off\")\ntext= \"Blinker right was turned off manually.\";\n\nif (msg.payload.d.cmd == \"blinker_left_on\")\n{\ntext= \"Blinker left was turned on manually.\";\nstatus = \"ON\";\ndir = \"left\";\n}\n\nif (msg.payload.d.cmd == \"blinker_left_off\")\ntext= \"Blinker left was turned off manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\": status, //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"dir\" : dir,\n    \"text\" : text,\n    \"ts\" : now,\n    }};\n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":620,"y":961,"wires":[["3ae94a6f.bc0efe","af4eeb42.8b55c"]]},{"id":"cd1816c7.f888e","type":"inject","z":"8a6ac27f.eda048","name":"OFF","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":354,"y":883,"wires":[["c46629c2.1145b"]]},{"id":"3ae94a6f.bc0efe","type":"websocket out","z":"8a6ac27f.eda048","name":"","server":"d161029d.2170d","client":"","x":834,"y":962,"wires":[]},{"id":"3da6a02a.123578","type":"ibmiot in","z":"8a6ac27f.eda048","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"GGParticle1","applicationId":"","deviceType":"InternetButton","eventType":"status","commandType":"","format":"json","name":"ManualChanges","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":364,"y":959,"wires":[["af4eeb42.8b55c","f4d3d6b3.6e609"]]},{"id":"af4eeb42.8b55c","type":"debug","z":"8a6ac27f.eda048","name":"ManualUpdates","active":true,"console":"true","complete":"payload","x":836,"y":897,"wires":[]},{"id":"d3902ca0.b21818","type":"comment","z":"8a6ac27f.eda048","name":"InternetButton send updates","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":136,"y":863,"wires":[]},{"id":"c46629c2.1145b","type":"function","z":"8a6ac27f.eda048","name":"send OFF Update","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"Blinker was turned off manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\": \"OFF\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"dir\" : \"\",\n    \"text\" : text,\n    \"ts\" : now,\n    }};\n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":607,"y":882,"wires":[["af4eeb42.8b55c","3ae94a6f.bc0efe"]]},{"id":"d161029d.2170d","type":"websocket-listener","z":"8a6ac27f.eda048","path":"/blinkupdate","wholemsg":"false"}]
