defaults/flow.json
[{"id":"9b994087.cb70e","type":"ibmiot in","z":"622464fa.3fdb5c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"speech","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"FromCarDashBoard","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":141,"y":135,"wires":[["f16238e0.a90d48"]]},{"id":"5df256fe.d45f28","type":"debug","z":"622464fa.3fdb5c","name":"WAResponse","active":true,"console":"true","complete":"payload","x":567,"y":130,"wires":[]},{"id":"7d0dc47c.bb182c","type":"ibmiot out","z":"622464fa.3fdb5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"IButton","deviceType":"InternetButton","eventCommandType":"blinker","format":"json","data":"1","qos":0,"name":"ToIBPhoton","service":"registered","x":830,"y":246,"wires":[]},{"id":"b0e62ee7.79777","type":"function","z":"622464fa.3fdb5c","name":"send Right","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"ON\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" :  \"right\",\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":547,"y":182,"wires":[["7d0dc47c.bb182c","28909be7.940334"]]},{"id":"28909be7.940334","type":"debug","z":"622464fa.3fdb5c","name":"SendMsgOut","active":true,"console":"true","complete":"payload","x":825,"y":181,"wires":[]},{"id":"8c0cfbec.8f3668","type":"function","z":"622464fa.3fdb5c","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n    \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":136,"y":223,"wires":[["301fcc14.f39104"]]},{"id":"f16238e0.a90d48","type":"function","z":"622464fa.3fdb5c","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":134,"wires":[["8c0cfbec.8f3668","5df256fe.d45f28"]]},{"id":"60acb3c5.f09d3c","type":"inject","z":"622464fa.3fdb5c","name":"left","topic":"","payload":"left","payloadType":"str","repeat":"","crontab":"","once":false,"x":346,"y":342,"wires":[["50fad92e.a3b858"]]},{"id":"d663e41.30cf118","type":"inject","z":"622464fa.3fdb5c","name":"right","topic":"","payload":"right","payloadType":"str","repeat":"","crontab":"","once":false,"x":346,"y":307,"wires":[["b0e62ee7.79777"]]},{"id":"7fe403a1.932d4c","type":"function","z":"622464fa.3fdb5c","name":"send CMD OFF","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"OFF\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" : \"left\" ,\n    \"intent\" : msg.payload.intent,\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":555,"y":257,"wires":[["7d0dc47c.bb182c","28909be7.940334"]]},{"id":"405d4d7.60689b4","type":"comment","z":"622464fa.3fdb5c","name":"Send to Internet button","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":162,"y":65,"wires":[]},{"id":"2b97ecad.4421e4","type":"inject","z":"622464fa.3fdb5c","name":"OFF","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":346,"y":377,"wires":[["7fe403a1.932d4c"]]},{"id":"301fcc14.f39104","type":"switch","z":"622464fa.3fdb5c","name":"What","property":"payload.response","propertyType":"msg","rules":[{"t":"cont","v":"blinker right","vt":"str"},{"t":"cont","v":"left blinker on","vt":"str"},{"t":"cont","v":" off the Blinker","vt":"str"},{"t":"cont","v":"blinker left on","vt":"str"},{"t":"cont","v":"blinker right on","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":289,"y":221,"wires":[["b0e62ee7.79777"],["50fad92e.a3b858"],["7fe403a1.932d4c"],["50fad92e.a3b858"],["b0e62ee7.79777"],[]]},{"id":"50fad92e.a3b858","type":"function","z":"622464fa.3fdb5c","name":"send LEFT ","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\n\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\": \"ON\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"direction\" :  \"left\",\n    \"colorLEDLeft\" : \"3,255,0,0\",\n    \"colorLEDRight\" : \"9,255,255,0\",\n    \"ts\" : now,\n\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":547,"y":219,"wires":[["7d0dc47c.bb182c","28909be7.940334"]]},{"id":"5ef1f790.538e08","type":"function","z":"622464fa.3fdb5c","name":"send Manu Updates","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"Blinker was turned off manually.\";\nvar status = \"OFF\";\nvar dir = \"\";\n\nif (msg.payload.d.cmd == \"blinker_right_on\")\n{\ntext= \"Blinker right was turned on manually.\";\nstatus = \"ON\";\ndir = \"right\";\n}\n\nif (msg.payload.d.cmd == \"blinker_right_off\")\ntext= \"Blinker right was turned off manually.\";\n\nif (msg.payload.d.cmd == \"blinker_left_on\")\n{\ntext= \"Blinker left was turned on manually.\";\nstatus = \"ON\";\ndir = \"left\";\n}\n\nif (msg.payload.d.cmd == \"blinker_left_off\")\ntext= \"Blinker left was turned off manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\": status, //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"dir\" : dir,\n    \"text\" : text,\n    \"ts\" : now,\n    }};\n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":589,"y":632,"wires":[["8f5f881.0174578","aab23133.388f4"]]},{"id":"206a6177.5e3dce","type":"inject","z":"622464fa.3fdb5c","name":"OFF","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":323,"y":554,"wires":[["d36f5b0d.efff28"]]},{"id":"8f5f881.0174578","type":"websocket out","z":"622464fa.3fdb5c","name":"toCarDashBoard","server":"bf551b83.d41878","client":"","x":842,"y":633,"wires":[]},{"id":"4fc0a70f.b77608","type":"ibmiot in","z":"622464fa.3fdb5c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"GGParticle1","applicationId":"","deviceType":"InternetButton","eventType":"status","commandType":"","format":"json","name":"IBPhoton","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":313,"y":630,"wires":[["aab23133.388f4","5ef1f790.538e08"]]},{"id":"aab23133.388f4","type":"debug","z":"622464fa.3fdb5c","name":"ManualUpdates","active":true,"console":"true","complete":"payload","x":841,"y":550,"wires":[]},{"id":"fe1bbf4a.5f25","type":"comment","z":"622464fa.3fdb5c","name":"InternetButton send updates","info":"See corresponding Lab instructions in the link below :\n\n[Watson Conversation](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/conversation)\n","x":184,"y":470,"wires":[]},{"id":"d36f5b0d.efff28","type":"function","z":"622464fa.3fdb5c","name":"send OFF Update","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"Blinker was turned off manually.\";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\": \"OFF\", //ON OFF\n    \"appliance\" : \"Blinker\",\n    \"dir\" : \"\",\n    \"text\" : text,\n    \"ts\" : now,\n    }};\n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":576,"y":553,"wires":[["aab23133.388f4","8f5f881.0174578"]]},{"id":"bf551b83.d41878","type":"websocket-listener","z":"622464fa.3fdb5c","path":"/blinkupdate","wholemsg":"false"}]
